* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;;
}

h4{
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
}

body {
  background: url("assets/images/street.jpg") center/cover;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 95%;
  flex-wrap: wrap;
}

.bottom-section{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5%;
  margin-right: 54px;
  margin-bottom: 24px;
}

.left-section{
  flex: 5;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.right-section{
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
  padding: 10px 0px;
  margin-right: 54px;
}

#title{
  position: absolute;
  top: 80px;
  left: 80px;
}

.center-display{
  text-align: center;
  background-color: green;
}

/* Pomodoro */
.pomodoro-timer{
  display: flex;
  padding: 16px ;
  justify-content: center;
  align-items: center;
  margin: 75px 0 25px 0;
  border-radius: 20px;
  gap: 27px;
  background-color: rgba(53, 53, 53, 0.4);
  width: 100%;
  height: auto;
  min-height: 160px;
}

.timer-left{
  display: flex;
  flex-direction: column;
  flex: 3;
}

#vertical-line{
  width: 0.5px;
  height: 100%;
  border-color: rgba(133, 133, 133, 0.4);

}

.timer-right{
  display: flex;
  flex-direction: column;
  flex: 2;
  gap:16px;
}

.timer-right button{
  width: 148px;
  height: 40px;
}

.timer-right button.active{
  background-color: white;
  color: black;
}


#time{
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-variant-numeric: tabular-nums;
  font-weight: 600;
  font-size: 68px;
  text-align: center;
}

.timer-controls{
  display: flex;
  align-items: center;
  justify-content: center;
}

#start{
  width: 90px;
  height: 40px;
  text-align: center;
}

.pomodoro-timer button{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
  border: 1px solid white;
  padding: 8px 17.5px;
  border-radius: 36px;
}

button{
  cursor: pointer;
  background-color: transparent;
  border: none;
}

button:hover {
  transform: translateY(-1px);
}

#timer-setting{
  border: none;
  border-radius: 50%;
}

#timer-setting img{
  width: 36px;
  height: 36px;
  object-fit: contain;
}

/* Music */
.music-section{
  display: flex;
  gap: 20px;
  align-items: stretch;
}

.music-player {
  display: flex;
  align-items: center;
  background-color: rgba(53, 53, 53, 0.4);
  border-radius: 16px;
  padding: 16px;

  width: 100%;
}

.music-taste{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.track-thumbnail{
  width: 124px;
  height: 124px;
  object-fit: cover;
}

.track-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex: 1;
}

.track-title{
  line-height: 1.2;
}

.track-controls{
  display: flex;
  gap: 20px;
}

.track-controls button {
  width: auto;
  height: auto;
  border: none;
  border-radius: 50%;
}

.track-controls button img {
  width: 26px;
  height: 26px;
}

#play img{
  width: 54px;
  height: 54px;
}

.music-taste button{
  width: 75px;
  height: 75px;
  border: none;
}

/* Task list */
.todo-list{
  background-color: yellow;
  border-radius: 20px;
  width: 100%;
  min-height: 200px;
  max-height: 400px;
}

